extends layout

block content
    div.parent-container
        div.main-container
            h2 Which #{user_state} Senator would you like to Tweet?
            form(action=`/choose-congressman-${zip}`, method='post')
                each senator in senator_info
                    div
                        input(type='radio', name='senator', value=senator.twitter)
                        lable(for='senator') #{senator.name} @#{senator.twitter}
                div.submitButton
                    input(type='submit', value='Tweet Congressman')
                
                    