extends layout

block content
    div.parent-container
        div.main-container
            h1 Select Your Tweet
            form(action=`/tweet-your-congressman-${handle}`, method='post')
                div.align-left
                    input(type='radio', name='tweet', value=option1)
                    lable(for='senator') #{option1}
                div.align-left
                    input(type='radio', name='tweet', value=option2)
                    lable(for='senator') #{option2}
                div.submitButton
                    input(type='submit', value='Tweet away')

